<launch>

  <arg name="init_exploration_start" default="true"/>
  
  <node pkg="team2" type="task2.py" name="task2"  output="screen">
  </node>

  <!-- Call exploration service from Launch -->
  <!-- Comment below line if you want to run task 4 -->
  <!-- Un-Comment below line if you want to run Task2 Only -->
  <node pkg="rosservice" type="rosservice" name="exploration" args="call --wait /exploration/enable $(arg init_exploration_start)" /> 

</launch>
